@import "../../variables";

#ContactPage {
  display: flex;
  flex-direction: column;

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #title-section {
      font-family: "Poppins", sans-serif;
      text-align: center;
      background-color: white;
      margin-top: 2rem;

      #title {
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
      }

      #subtitle {
        font-size: 20px;
      }
    }

    #contact-section {
      margin: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      background-color: $brand_purple;
      box-shadow: 0px 6px 12px 0px #00000040;
      border-radius: 10px;
      color: white;
      margin-top: 2.5rem;
      padding: 25px;
      margin-bottom: 2rem;      

      @media (max-width: 1300px) {
        & {
          padding: 25px;
          width: 100%;
          border-radius: 0;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        
        @media (max-width: 720px) {
          & {
            width: 100%
          }
        }
        
        .section {
          display: flex;
          width: 100%;
          justify-content: space-between;

          @media (max-width: 720px) {
            & {
              flex-direction: column;
            }
          }
        }
  
        #input-section {
          padding: 2rem;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          width: 100%;
  
          label {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 0.3rem;
            width: 8rem;
          }
  
          input {
            width: 25rem;
            padding: 1rem 0.5rem;
            background: #f0f0f0;
            box-shadow: 0px 2px 6px 0px #00000040;
            border: none;
            border-radius: 0.8rem;
  
            &:focus {
              outline: 0;
              box-shadow: 0px 2px 6px 0px #0000006b;
            }
  
            &:hover {
              box-shadow: 0px 2px 6px 0px #0000006b;
            }
          }

          

          @media (max-width: 1200px) {
            & {
              padding: 1.5rem .5rem;

              input {
                width: 20rem;
              }
            }
          }

          @media (max-width: 1000px) {
            & {
              padding: 1.5rem .2rem;

              input {
                width: 13rem;
              }
            }
          }

          @media (max-width: 720px) {
            & {
              padding: 1rem;
              justify-content: space-between;

              label {
                font-size: .8rem;
              }

              input {
                width: 100%;
              }
            }

            &.text-area-section {
              flex-direction: column;

              label {
                font-size: 1.3rem;
                width: 100%;

                justify-content: center;
              }
            }
          }
        }
  
        textarea {
          border-radius: 0.8rem;
          border: none;
          width: 90%;
          height: 150px;
          padding: 1rem 0.5rem;
          background: #f0f0f0;
          box-shadow: 0px 2px 6px 0px #00000040;
          resize: none;
  
          &:focus {
            outline: 0;
            box-shadow: 0px 2px 6px 0px #0000006b;
          }

          &:hover {
            box-shadow: 0px 2px 6px 0px #0000006b;
          }

          @media (max-width: 720px) {
            & {
              width: 100%;
            }
          }
        }
  
        #button-container {
          display: flex;
          justify-content: flex-end;
          padding: .2rem 2rem 0.438rem;

          button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            background: none;
            color: white;
            border: 2px solid white;
            padding: 8px;
            width: 150px;
            border-radius: 25px;
            font-size: 16px;
            transition: all 0.2s ease-in-out;
    
            cursor: pointer;

            @media (max-width: 500px) {
              & {
                width: 100%;
              }
            }
    
            &:hover {
              background: white;
              color: $brand-purple;
            }
          }
        }
      }
    }
  }
}
